<!--
<h2>This is the Homepage</h2>


<p>
The time now is... 
<strong><%= Time.now %></strong>
</p>


<p>
Username is <strong><%= @username %></strong> 
and is
<%= @age %> years old
and in one year will be
<%= @age +1 %>.
</p>


<p>
There number of categories is:<br>
<%= @categories.length %><br>
</p>


<p>Here they are:
-->


<ul class="category-list">
	<!-- in here, loop over the categories -->
	<!-- don't use the "=" in the ERB tag because I don't want it to print out -->


<!-- LOOPING HAPPENS HERE -->
	<% @categories.each do |category| %>
	<!-- for each thing in @categories, print it out as a list  -->
	<li>
	<div class="details">
		<%= link_to category.name, category_path(category) %>
	</div>

	<div class="actions">
		<%= link_to "Edit", edit_category_path(category), class: "edit" %>
	
		<%= link_to "Delete", category_path(category), method: :delete, class: "delete", confirm:"Are you sure you want to delete this category?" %>
	</div>
</li>
	<!-- <li>Category: <%= category.name %>, Rank: <%= category.rank %></li> -->
	


	<% end %>
</ul>
</p>

<!--
<p>
<a href="/categories/new" class="button">New Category</a> (standard style)
</p>
-->

<p>

<!-- same link can be done the rails way, which is quicker and more flexible-->
<%= link_to "New Category", new_category_path, class: "button" %> <!--(rails style) -->
<!-- the "new category_path" part of the line above is a route -->

</p>





